body {
  background: #FFFFF0; }
  body .navi {
    box-shadow: 0 3px 5px #000;
    background: #ffccff; }
    body .navi .top-bar {
      background: #ffccff;
      color: #FFF; }
    body .navi .top-bar-section li:not(.has-form) a:not(.button) {
      background: #ffccff; }
  body .image-wrapper {
    height: 600px;
    margin: 45px auto;
    box-shadow: 0 3px 5px #000; }
    body .image-wrapper .imagelist {
      list-style-type: none;
      vertical-align: baseline;
      padding: 0;
      margin: 0 auto;
      width: 1400px; }
      body .image-wrapper .imagelist li {
        width: 200px;
        height: 200px;
        display: block;
        float: left; }
  body .message {
    background: #555;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 200px auto;
    z-index: 1; }
    body .message .message2 {
      margin: 10px auto;
      text-align: center; }
      body .message .message2 img {
        margin-bottom: 30px; }
