$pink: #FFCCFF;

body{
	background:#FFFFF0;
	.navi{
		box-shadow:0 3px 5px #000;
		background:$pink;
		.top-bar{
			background:$pink;
			color:#FFF;
		}
		.top-bar-section li:not(.has-form) a:not(.button){
			background:$pink;
		}
	}
	.image-wrapper{
		height:600px;
		margin:45px auto;
		box-shadow:0 3px 5px #000;
		.imagelist{
			list-style-type:none;
			vertical-align:baseline;
			padding:0;
			margin:0 auto;
			width:1400px;
			li{
				width:200px;
				height:200px;
				display:block;
				float:left;
			}
		}
	}
	.message{
		background:#555;
		width:400px;
		height:200px;
		position:absolute;
		left:0;
		right:0;
		margin:200px auto;
		z-index:1;
		.message2{
			margin:10px auto;
			text-align:center;
			img{
				margin-bottom:30px;
			}
		}
	}
}